* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #182027;
    color: #222;
}

/* Navbar */

nav {
    height: 70px;
    background: #222;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;
}

nav h2 {
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

nav a:hover {
    color: #00bcd4;
}

/* Home */

.hero {
    min-height: calc(100vh - 70px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    color: #666;
    margin-bottom: 25px;
}

.btn {
    background: #00a8cc;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
}

.btn:hover {
    background: #0088a8;
}

/* Login */

.login-container {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 380px;
    background: white;

    padding: 35px;

    border-radius: 10px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
    text-align: center;
    margin-bottom: 10px;
}

.login-box > p {
    text-align: center;
    color: #777;
    margin-bottom: 25px;
}

.login-box label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    padding: 12px;

    margin-bottom: 18px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 100%;

    padding: 12px;

    background: #00a8cc;
    color: white;

    border: none;
    border-radius: 5px;

    font-size: 16px;

    cursor: pointer;
}

.login-box button:hover {
    background: #0088a8;
}

.signup-text {
    margin-top: 20px;
}

.signup-text a {
    color: #00a8cc;
}

/* Dashboard */

.dashboard {
    padding: 60px 8%;
}

.dashboard h1 {
    margin-bottom: 10px;
}

.dashboard > p {
    color: #666;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    gap: 25px;
}

.card {
    background: white;

    width: 250px;

    padding: 25px;

    border-radius: 8px;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    color: #666;
}





/* Signup */

.signup-container {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
}

.signup-box {
    width: 400px;

    background: rgb(233, 233, 216);

    padding: 35px;

    border-radius: 10px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.signup-box h1 {
    text-align: center;
    margin-bottom: 10px;
}

.signup-box > p {
    text-align: center;
    color: #777;
    margin-bottom: 25px;
}

.signup-box label {
    display: block;

    margin-bottom: 7px;

    font-weight: bold;
}

.signup-box input {
    width: 100%;

    padding: 12px;

    margin-bottom: 18px;

    border: 1px solid #ccc;

    border-radius: 5px;

    font-size: 15px;
}

.signup-box input:focus {
    outline: none;

    border-color: #00a8cc;
}

.signup-box button {
    width: 100%;

    padding: 12px;

    background: #00a8cc;

    color: white;

    border: none;

    border-radius: 5px;

    font-size: 16px;

    cursor: pointer;
}

.signup-box button:hover {
    background: #9db3b8;
}

.login-text {
    margin-top: 20px;
}

.login-text a {
    color: #00a8cc;

    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}